@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

html {
  background: url(background.png) no-repeat center center fixed;
  background-size: cover;
  color: 	#FFF8DC;
}
body{

  font-family: 'Open Sans', sans-serif;
  text-align: center;

}
h1{
  font-family: 'Playfair Display', serif;
  padding-top: 70px;
}

/*#clickable{
  cursor:pointer;
}*/

ul {
  list-style-type: none;
  padding: 0px;
}

button{
  height:128px;
  width: 128px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
  float:left;
  margin-right:5px;
}
input[type=button]{
  color: red;
  height:128px;
  width: 128px;
  float:left;
  margin-right:5px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
